
doctype html
html.no-js(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Caption Hover Effects - Demo 1
        meta(name='description', content='')
        meta(name='keywords', content='')
        link(rel='stylesheet', type='text/css', href='${request.contextPath}/assets/css/navweb/default.css')
        link(rel='stylesheet', type='text/css', href='${request.contextPath}/assets/css/navweb/component.css')
        script(src='${request.contextPath}/assets/scripts/navweb/modernizr.custom.js')
    body
        .content.demo-6
            header
                h1 Caption Hover Effects
                nav.codrops-demos
                    a.current-demo(href='/navweb/nav.html') Effect 1
                    a(href='/navweb/nav1.html') Effect 2
                    a(href='/navweb/nav2.html') Effect 3
                    a(href='/navweb/nav3.html') Effect 4
                    a(href='/navweb/nav4.html') Effect 5
                    a(href='/navweb/nav5.html') Effect 6
                    a(href='/navweb/nav6.html') Effect 7
            ul.grid.cs-style-6
                li
                    figure
                        img(src='${request.contextPath}/assets/images/navweb/1.png', alt='img01')
                        figcaption
                            h3 Camera
                            span Jacob Cummings
                            a(href='http://www.htmleaf.com/') Take a look
                li
                    figure
                        img(src='${request.contextPath}/assets/images/navweb/2.png', alt='img02')
                        figcaption
                            h3 Music
                            span Jacob Cummings
                            a(href='http://www.htmleaf.com/') Take a look
                li
                    figure
                        img(src='${request.contextPath}/assets/images/navweb/4.png', alt='img04')
                        figcaption
                            h3 Settings
                            span Jacob Cummings
                            a(href='http://www.htmleaf.com/') Take a look
                li
                    figure
                        img(src='${request.contextPath}/assets/images/navweb/5.png', alt='img05')
                        figcaption
                            h3 Safari
                            span Jacob Cummings
                            a(href='http://www.htmleaf.com/') Take a look
                li
                    figure
                        img(src='${request.contextPath}/assets/images/navweb/3.png', alt='img03')
                        figcaption
                            h3 Phone
                            span Jacob Cummings
                            a(href='http://www.htmleaf.com/') Take a look
                li
                    figure
                        img(src='${request.contextPath}/assets/images/navweb/6.png', alt='img06')
                        figcaption
                            h3 Game Center
                            span Jacob Cummings
                            a(href='http://www.htmleaf.com/') Take a look
        // /container
        script(src='${request.contextPath}/assets/scripts/navweb/toucheffects.js')








