link(href='${request.contextPath}/assets/libs/bootstrap/dist/css/bootstrap.css', rel='stylesheet', type='text/css')
link(href='${request.contextPath}/assets/css/web/theme.css', rel='stylesheet')
link(href='${request.contextPath}/assets/css/web/bootstrap-reset.css', rel='stylesheet')
// external css
link(href='${request.contextPath}/assets/libs/jquery-uniform/css/uniform.default.css?t=#{currTime}', rel='stylesheet', type='text/css')
link(href='${request.contextPath}/assets/libs/fontawesome/css/font-awesome.css', rel='stylesheet', type='text/css')
link(rel='stylesheet', href='${request.contextPath}/assets/libs/flexslider/flexslider.css')
link(href='${request.contextPath}/assets/libs/bxslider-4/dist/jquery.bxslider.css', rel='stylesheet')
link(href='${request.contextPath}/assets/libs/fancybox/dist/jquery.fancybox.css', rel='stylesheet')
link(rel='stylesheet', href='${request.contextPath}/assets/libs/revolution_slider/css/rs-style.css', media='screen')
link(rel='stylesheet', href='${request.contextPath}/assets/libs/revolution_slider/rs-plugin/css/settings.css', media='screen')
// Custom styles for this template
link(href='${request.contextPath}/assets/css/web/style.css', rel='stylesheet')
link(href='${request.contextPath}/assets/css/web/style-responsive.css', rel='stylesheet')
// HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries
| <!--[if lt IE 9]>
| <script src="${request.contextPath}/assets/libs/html5shiv/dist/html5shiv.js"></script>
| <script src="${request.contextPath}/assets/libs/respond/dest/respond.min.js"></script>
| <![endif]-->