doctype html
html(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 登陆页面
        link(href='${request.contextPath}/assets/libs/bootstrap/dist/css/bootstrap.css?t=#{currTime}', rel='stylesheet', type='text/css')
        link(href='${request.contextPath}/assets/css/pages/login.css', rel='stylesheet', type='text/css')
        script(src='${request.contextPath}/assets/libs/jquery/dist/jquery.min.js?t=#{currTime}', type='text/javascript')
        script.
            var login = function(){
                var username = $("#username").val();
                var password= $("#password").val();
                $.ajax({
                    type: "POST",
                    url: "login",
                    data: JSON.stringify({username: username, password: password}),
                    dataType: "json",
                    contentType : 'application/json',
                    success: function (data) {
                        console.log(data);
                        if (data.flag == 'success') {
                            location.href="/main";
                        } else if (data.flag == 'failure') {
                        } else if (data.flag == 'error') {
                        } else {
                        }
                    }
                });
            };
    body
        .login
            .login-bg
            .login-header
                .login-header-top
                .login-header-bottom
                    .login-logo
                        a(href='/main') 网站LOGO
                            //img(src="${request.contextPath}/assets/images/img/logo-big.png")
            .content
                // BEGIN LOGIN FORM
                form.login-form
                    .alert.alert-danger(style="display:none;")
                        button.close(data-close='alert')
                        span 报错信息
                    .form-group
                        // ie8, ie9 does not support html5 placeholder, so we just show field title for that
                        label.control-label.visible-ie8.visible-ie9 用户名
                        input.form-control.form-control-solid.placeholder-no-fix(type='text' id="username" name="username" placeholder='用户名')
                    .form-group
                        label.control-label.visible-ie8.visible-ie9 密码
                        input.form-control.form-control-solid.placeholder-no-fix(type='password' id="password" name="password" placeholder='密码')
                    .form-group
                        a.forget-pwd(href='javascript:;') 忘记密码?
                    .form-actions
                        button.btn.login-btn(type='button' onclick="login();") 登陆
                        h5.reg-now
                            | 还没有网站账号？
                            a(href="/register.html")
                                span 立即注册
                                i.fa.fa-arrow-circle-o-right
                    //.login-options
                        h4 或者使用其他账号直接登陆
                        .social-icons-wrap.text-center
                            ul.social-icons
                                li
                                    a.weibo(data-original-title='facebook', href='javascript:;')
                                li
                                    a.qq(data-original-title='Twitter', href='javascript:;')
                                li
                                    a.weixin(data-original-title='Goole Plus', href='javascript:;')
                    // END login FORM
            .web-description
                h5 — 专注于管理系统研发 —
            //.copyright  2016 © XX管理系统.

