doctype html
html(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 注册页面
        link(href='${request.contextPath}/assets/libs/bootstrap/dist/css/bootstrap.css?t=#{currTime}', rel='stylesheet', type='text/css')
        link(href='${request.contextPath}/assets/css/pages/register.css', rel='stylesheet', type='text/css')
        script(src='${request.contextPath}/assets/libs/jquery/dist/jquery.min.js?t=#{currTime}', type='text/javascript')
        script.
            var regTab = function(e){
              $(".register-tabs >li").removeClass("active");
              $(e).addClass("active");
            };
    body
        .register
            .register-bg
            .register-headding
                .register-logo
                    a(href="/main") 网站LOGO
            .container
                .register-steps
                .register-form-wrap.text-center
                    .register-form.form-horizontal(role='form')
                        ul.register-tabs.clearfix
                            li.active(onclick="regTab(this);")
                                span.register-tab-active
                                i.fa.fa-mobile-phone
                                | 商家注册
                            li(onclick="regTab(this);")
                                span.register-tab-active
                                i.fa.fa-mail-forward
                                | 个人用户
                        .form-body
                            .form-group
                                input.form-control(type='text', placeholder='手机号码')
                            .form-group
                                input.form-control(type='text', placeholder='验证码')
                            .form-group
                                input.form-control(type='text', placeholder='密码')
                        .form-actions
                            button.btn.register-btn(type='submit') 注册
                .web-description.text-center
                    h5 — 专注于管理系统研发 —




